*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "arial", sans-serif;
}

body{
    background-image: linear-gradient(to right, #596168 0%, #253233 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-image: linear-gradient(120deg, #5d6168 0%, #40484b 100%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1{
    color: #111111;
    margin-bottom: 20px;
}

.scoreboard{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #9d9c9c;
    border-radius: 5px;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status{
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 30px;
}

.cell{
    background-color: #acacac;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover{
    background-color: #e0e0e0;
}

.cell.x{
    color: #2196f3;
}

.cell.o{
    color: #f44336;
}

button{
    background-color: rgb(49, 56, 64);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #151815;
}

.hidden{
    display: none;
}